<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base.html :: head('Menu Delete Page')"></head>
<body>
<section th:include="base.html :: navbar"></section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <form th:action="@{/admin/menu/delete/{id}(id = ${menu.id + '/'})}" method="post">
                    <a th:href="@{/admin/menu/list/}" class="btn btn-warning">No.</a>
                    <button type="submit" class="btn btn-danger">Yes.</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section th:include="base.html :: js"></section>
</body>
</html>