<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base.html :: head('Home Page')"></head>
<body>
<section th:include="base.html :: navbar"></section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <h1 class="text-center">Welcome to "PDP Lunch Bot" Admin Page</h1>
            </div>
        </div>
    </div>
</section>

<section th:include="base.html :: js"></section>
</body>
</html>